// Component styling

::-moz-selection {
  background: gray;
  color: #fff;
  -webkit-text-fill-color: #fff;
}

::selection {
  background: gray;
  color: #fff;
  -webkit-text-fill-color: #fff;
}
::-webkit-scrollbar-track {
  background: inherit;
}
::-webkit-scrollbar-thumb {
  background: #fff6;
  border-radius: 99px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: inherit;
}

[data-hidden] {
  opacity: 0;
}

.splitWrap {
  transition: all 0.5s ease;
  &:hover {
    color: var(--secAccent);
  }
}

.split {
  display: inline-block;
  text-transform: inherit;
}

#header {
  width: 100%;
  min-height: 5vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 69;
  padding-block: 2.5vh;
  padding-inline: 5vw;
  font-size: 1.25rem;

  .logo {
    font-size: 2rem;
    font-weight: 700;
  }

  .menu {
    position: relative;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex: auto;
    flex-direction: row;
    gap: 1rem;
  }
}

// Loader
.loader {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  z-index: 2;

  &Wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0;
    overflow: hidden;
    display: none;

    // horizontal
    // clip-path: polygon(50% 0%,0% 0%,0% 100%,50% 100%,50% 0%,100% 0%,100% 100%,50% 100%);

    // vertical
    // clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%, 0% 50%, 100% 50%, 100% 100%, 0% 100%);

    // radial
    // -webkit-mask: radial-gradient(20% 40%,#0000 100%,#000) 0 0;
    // mask: radial-gradient(20% 40%,#0000 100%,#000) 0 0;

    background: var(--accent);
    z-index: 1000;
  }

  &Text {
    height: 100%;
    width: 100%;
    padding: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    & .loaderProgressText {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h1 {
      font-size: clamp(8rem, 5.333vw + 0.333rem, 10rem);
    }
    svg {
      max-width: 30%;
      overflow: visible;
      rotate: 90deg;
      opacity: 0;
    }
  }

  &ProgressNumber {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    white-space: nowrap;
    color: white;
    font-size: clamp(4rem, 5.333vw + 0.333rem, 7.5rem);
    text-align: center;
    width: 100%;
    -webkit-clip-path: polygon(50% 0%, 0% 0%, 0% 100%, 50% 100%, 50% 0%, 100% 0%, 100% 100%, 50% 100%);
    clip-path: polygon(50% 0%, 0% 0%, 0% 100%, 50% 100%, 50% 0%, 100% 0%, 100% 100%, 50% 100%);
  }
}
@media (width <= 800px) {
  .loaderText {
    svg {
      max-width: 50%;
      rotate: 0deg;
    }
  }
}
@media (width <= 500px) {
  .loaderText {
    padding: 0;
  }
  .loaderProgressNumber {
    font-size: clamp(2.5rem, 5.333vw + 0.333rem, 3.5rem);
  }
}

//Sound Button

.sound {
  pointer-events: all;
  cursor: pointer;

  span {
    display: block;
    width: 30px;
    height: 30px;
    align-content: center;
    text-align: -webkit-center;
    outline: 1px gray solid;
    border-radius: 100px;

    svg {
      width: 50%;
      height: 50%;
      vertical-align: middle;
    }
  }
}


@media (width <= 1000px) {
  .contactCard {
    transform: translate(-1%, 3%);
    .contDetail h2 {
      font-size: 2rem;
    }
  }
}
@media (width <= 800px) {
  .contactCard {
    flex-direction: column;
    aspect-ratio: 1/2;
    height: 400px;
    transform: translate(1%, 3%);
    .contDetail {
      width: 100%;
      gap: 3rem;
    }
    .contCanv {
      display: none;
      width: 100%;
      // height: fit-content;
      height: 50%;
    }
  }
}
@media (width <= 450px) {
  .contactCard {
    height: 450px;
    transform: translate(-1%, 2%);
    .contDetail h2 {
      font-size: 1.5rem;
    }
  }
}
