.hero {
  height: 100vh;
  width: 100%;
  padding-inline: 5vw;
  position: relative;
  background: url("./ibro.jpg");
  background-size: cover;
  background-position: bottom;

  #masker {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%); /* Center SVG relative to mouse */
    pointer-events: none; /* Prevent interaction with the SVG */
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    // mask: radial-gradient(midnightblue 9px, transparent 10px),
    // repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);

    // mask: url(#mask),
    // linear-gradient(#000 0 0); /* Use the DOM SVG as mask */
    // -webkit-mask: url(#mask),
    // linear-gradient(#000 0 0); /* Safari compatibility */
    // mask-composite: exclude;
    // -webkit-mask-composite: exclude;
    // mask-repeat: no-repeat;
    // mask-repeat: repeat;
    // mask-size: 15px 15px, 90px 90px;

    -webkit-clip-path: url(#mask);
    clip-path: url(#mask);
  }

  .bigName {
    font-size: 7vw;
    text-align: center;
    scale: 1 1.5;
    // font-size: clamp(7VW, 5.333vw + 0.333rem, 30VW);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -10px;
  }

  .menu {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;

    .menuCol {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
  }
}
